<h1> New Article</h1>
<h2>article/new</h2>
<h3>new_article_path <%= link_to new_article_path %>- articles#new</h3>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <h4>articles_path <%= link_to articles_path %> - articles#create</h4>

  <p>
    <%= form.submit %>
  </p>
<% end %>