<h1> Edit Post</h1>
<h2>post/id/edit</h2>
<h3>edit_post_path <%= link_to edit_post_path %>- posts#edit</h3>

<%= form_with(model: @post, local: true) do |form| %>

  <% if @post.errors.any? %>
    <div>
      <h2>
        <%= pluralize(@post.errors.count, "erro") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>


<p>
  <%= link_to 'Cancelar', post_path%>

</p>

<p>
  <%= link_to 'All Posts', posts_path%>

</p>

<p>
  <%= link_to 'Home', root_path%>

</p>

<%# render 'posts/index' %>