<div class="row">
  <div class="col-sm-6">

<div style="border-style: outset;">
  <p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
</div>

<div style="border-style: outset;">
  <p>
    <strong>Text:</strong>
    <%= @post.text %>
  </p>
</div>

<h2>Comments</h2>
    <%= render @post.comments %>

<h2>Add a comment:</h2>
    <%= render 'comments/form' %>

<p>
  <%= link_to 'Edit', edit_post_path%> <%= link_to 'All Posts', posts_path%>

</p>

<p>
  <%= link_to 'Home', root_path%>

</p>
  </div>
</div>
